.no {
    background: rgba(101, 132, 226, 0.1);
    padding: 0.1875rem;

    .no-hd {
        position: relative;
        border: 1px solid rgba(25, 186, 139, 0.17);

        &::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 10px;
            border-top: 2px solid #02a6b5;
            border-left: 2px solid #02a6b5;
            top: 0;
            left: 0;
        }

        &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 10px;
            border-bottom: 2px solid #02a6b5;
            border-right: 2px solid #02a6b5;
            right: 0;
            bottom: 0;
        }

        ul {
            display: flex;

            li {
                position: relative;
                flex: 1;
                text-align: center;
                height: 1rem;
                line-height: 1rem;
                font-size: 0.875rem;
                color: #ffeb7b;
                padding: 0.05rem 0;
                font-family: electronicFont;
                font-weight: bold;

                &:first-child::after {
                    content: "";
                    position: absolute;
                    height: 50%;
                    width: 1px;
                    background: rgba(255, 255, 255, 0.2);
                    right: 0;
                    top: 25%;
                }
            }
        }
    }

    .no-bd ul {
        display: flex;

        li {
            flex: 1;
            height: 0.5rem;
            line-height: 0.5rem;
            text-align: center;
            font-size: 0.225rem;
            color: rgba(255, 255, 255, 0.7);
            padding-top: 0.125rem;
        }
    }
}

.map-wrapper {
    position: relative;
    height: 10.125rem;

    .map1,
    .map2,
    .map3 {
        position: absolute;
        background: url(../assets/images/map.png) no-repeat;
        background-size: 100% 100%;
        width: 6.475rem;
        height: 6.475rem;
        opacity: 0.3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .map2 {
        width: 8.0375rem;
        height: 8.0375rem;
        background: url(../assets/images/lbx.png);
        opacity: 0.6;
        z-index: 2;
        animation: rotate1 15s linear infinite;
        background-size: 100% 100%;
    }

    .map3 {
        width: 7.075rem;
        height: 7.075rem;
        background: url(../assets/images/jt.png);
        animation: rotate2 10s linear infinite;
        background-size: 100% 100%;
    }
}

// 动画
@keyframes rotate1 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}